

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Nanum+Pen+Script&family=Calligraffitti&display=swap');


$title-font: 'Nanum Pen Script', sans-serif;

$body-font-family: 'Nanum Gothic', sans-serif;

$heading-font-family : 'Nanum Pen Script', sans-serif;

@import '~vuetify/src/styles/styles.sass';
@each $heading, $style in $headings {
  $headings: map-merge($headings, ($heading: map-merge($style, ('font-family': $heading-font-family))));
}

$color-main : #ff3322;

$material-light: (
  
    'text-fields': (
          'outlined': rgba(0,0,0, 1),
          'outlined-hover': rgba(0,0,0, 1),
        ),
   
);

.v-text-field >>> .v-input__slot {
    background: white;
  }

